# Capstone 3
Data Wrangling

Patrick Long

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
from bs4 import BeautifulSoup
import requests
from datetime import datetime
from datetime import timedelta
from fractions import Fraction
from urllib.request import urlretrieve
import pickle

First step is to import data from Sports Refernce

In [2]:
df = pd.read_csv(r'C:\Users\ptlon\Downloads\archive (10)\nba.games.stats.csv')

In [3]:
df

,Unnamed: 0,Team,Game,Date,Home,Opponent,WINorLOSS,TeamPoints,OpponentPoints,FieldGoals,...,Opp.FreeThrows,Opp.FreeThrowsAttempted,Opp.FreeThrows.,Opp.OffRebounds,Opp.TotalRebounds,Opp.Assists,Opp.Steals,Opp.Blocks,Opp.Turnovers,Opp.TotalFouls
0,1,ATL,1,10/29/2014,Away,TOR,L,102,109,40,...,27,33,0.818,16,48,26,13,9,9,22
1,2,ATL,2,11/1/2014,Home,IND,W,102,92,35,...,18,21,0.857,11,44,25,5,5,18,26
2,3,ATL,3,11/5/2014,Away,SAS,L,92,94,38,...,27,38,0.711,11,50,25,7,9,19,15
3,4,ATL,4,11/7/2014,Away,CHO,L,119,122,43,...,20,27,0.741,11,51,31,6,7,19,30
4,5,ATL,5,11/8/2014,Home,NYK,W,103,96,33,...,8,11,0.727,13,44,26,2,6,15,29
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9835,78119,WAS,78,4/3/2018,Away,HOU,L,104,120,38,...,18,27,0.667,10,46,26,13,3,9,14
9836,79119,WAS,79,4/5/2018,Away,CLE,L,115,119,47,...,22,28,0.786,5,35,26,10,3,16,14
9837,80119,WAS,80,4/6/2018,Home,ATL,L,97,103,35,...,16,23,0.696,7,50,24,5,5,18,22
9838,81124,WAS,81,4/10/2018,Home,BOS,W,113,101,41,...,22,27,0.815,13,44,22,14,1,16,18
9839,82119,WAS,82,4/11/2018,Away,ORL,L,92,101,33,...,22,27,0.815,6,42,20,6,7,16,27

I will now clean the data, find any null values, and then get rid of any redundant or useless data

In [4]:
df = df.rename(columns={'WINorLOSS': 'Win or Loss'})

In [5]:
del df['Unnamed: 0']

In [6]:
df

,Team,Game,Date,Home,Opponent,Win or Loss,TeamPoints,OpponentPoints,FieldGoals,FieldGoalsAttempted,...,Opp.FreeThrows,Opp.FreeThrowsAttempted,Opp.FreeThrows.,Opp.OffRebounds,Opp.TotalRebounds,Opp.Assists,Opp.Steals,Opp.Blocks,Opp.Turnovers,Opp.TotalFouls
0,ATL,1,10/29/2014,Away,TOR,L,102,109,40,80,...,27,33,0.818,16,48,26,13,9,9,22
1,ATL,2,11/1/2014,Home,IND,W,102,92,35,69,...,18,21,0.857,11,44,25,5,5,18,26
2,ATL,3,11/5/2014,Away,SAS,L,92,94,38,92,...,27,38,0.711,11,50,25,7,9,19,15
3,ATL,4,11/7/2014,Away,CHO,L,119,122,43,93,...,20,27,0.741,11,51,31,6,7,19,30
4,ATL,5,11/8/2014,Home,NYK,W,103,96,33,81,...,8,11,0.727,13,44,26,2,6,15,29
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9835,WAS,78,4/3/2018,Away,HOU,L,104,120,38,72,...,18,27,0.667,10,46,26,13,3,9,14
9836,WAS,79,4/5/2018,Away,CLE,L,115,119,47,94,...,22,28,0.786,5,35,26,10,3,16,14
9837,WAS,80,4/6/2018,Home,ATL,L,97,103,35,87,...,16,23,0.696,7,50,24,5,5,18,22
9838,WAS,81,4/10/2018,Home,BOS,W,113,101,41,83,...,22,27,0.815,13,44,22,14,1,16,18
9839,WAS,82,4/11/2018,Away,ORL,L,92,101,33,95,...,22,27,0.815,6,42,20,6,7,16,27

In [7]:
df.isnull()

,Team,Game,Date,Home,Opponent,Win or Loss,TeamPoints,OpponentPoints,FieldGoals,FieldGoalsAttempted,...,Opp.FreeThrows,Opp.FreeThrowsAttempted,Opp.FreeThrows.,Opp.OffRebounds,Opp.TotalRebounds,Opp.Assists,Opp.Steals,Opp.Blocks,Opp.Turnovers,Opp.TotalFouls
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9835,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
9836,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
9837,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
9838,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
9839,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

This looks like great data. There isn't any null values.

In [8]:
del df['Date']

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9840 entries, 0 to 9839
Data columns (total 39 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Team                      9840 non-null   object
 1   Game                      9840 non-null   int64
 2   Home                      9840 non-null   object
 3   Opponent                  9840 non-null   object
 4   Win or Loss               9840 non-null   object
 5   TeamPoints                9840 non-null   int64
 6   OpponentPoints            9840 non-null   int64
 7   FieldGoals                9840 non-null   int64
 8   FieldGoalsAttempted       9840 non-null   int64
 9   FieldGoals.               9840 non-null   float64
 10  X3PointShots              9840 non-null   int64
 11  X3PointShotsAttempted     9840 non-null   int64
 12  X3PointShots.             9840 non-null   float64
 13  FreeThrows                9840 non-null   int64
 14  FreeThrowsAttempted       9840 non-null   int64
 15  FreeThrows.               9840 non-null   float64
 16  OffRebounds               9840 non-null   int64
 17  TotalRebounds             9840 non-null   int64
 18  Assists                   9840 non-null   int64
 19  Steals                    9840 non-null   int64
 20  Blocks                    9840 non-null   int64
 21  Turnovers                 9840 non-null   int64
 22  TotalFouls                9840 non-null   int64
 23  Opp.FieldGoals            9840 non-null   int64
 24  Opp.FieldGoalsAttempted   9840 non-null   int64
 25  Opp.FieldGoals.           9840 non-null   float64
 26  Opp.3PointShots           9840 non-null   int64
 27  Opp.3PointShotsAttempted  9840 non-null   int64
 28  Opp.3PointShots.          9840 non-null   float64
 29  Opp.FreeThrows            9840 non-null   int64
 30  Opp.FreeThrowsAttempted   9840 non-null   int64
 31  Opp.FreeThrows.           9840 non-null   float64
 32  Opp.OffRebounds           9840 non-null   int64
 33  Opp.TotalRebounds         9840 non-null   int64
 34  Opp.Assists               9840 non-null   int64
 35  Opp.Steals                9840 non-null   int64
 36  Opp.Blocks                9840 non-null   int64
 37  Opp.Turnovers             9840 non-null   int64
 38  Opp.TotalFouls            9840 non-null   int64
dtypes: float64(6), int64(29), object(4)
memory usage: 2.9+ MB

In [10]:
df.to_excel('df.xlsx')

Next step - Import Data from https://figshare.com/articles/dataset/NBA_data/5414170?file=9337696

In [11]:
team = pd.read_excel(r"C:\Users\ptlon\Downloads\team.xlsx")

In [12]:
team.head()

,Season,Lg,Team,W,L,W/L%,Finish,SRS,Pace,Rel_Pace,ORtg,Rel_ORtg,DRtg,Rel_DRtg,Playoffs,Coaches,Top WS
0,2015-16,NBA,Atlanta Hawks,48.0,34.0,0.585,2.0,3.49,97.1,1.3,105.1,-1.3,101.4,-5.0,Lost E. Conf. Semis,M. Budenholzer (48-34),P. Millsap (10.1)
1,2015-16,NBA,Boston Celtics,48.0,34.0,0.585,2.0,2.84,98.5,2.7,106.8,0.4,103.6,-2.8,Lost E. Conf. 1st Rnd.,B. Stevens (48-34),I. Thomas (9.7)
2,2015-16,NBA,Brooklyn Nets,21.0,61.0,0.256,4.0,-7.12,95.2,-0.6,103.2,-3.2,110.9,4.5,NaN,"L. Hollins (10-27), T. Brown (11-34)",B. Lopez (6.2)
3,2015-16,NBA,Charlotte Hornets,21.0,61.0,0.256,4.0,-7.12,95.2,-0.6,103.2,-3.2,110.9,4.5,NaN,"L. Hollins (10-27), T. Brown (11-34)",B. Lopez (6.2)
4,2015-16,NBA,Chicago Bulls,42.0,40.0,0.512,4.0,-1.46,95.7,-0.1,105.0,-1.4,106.5,0.1,NaN,F. Hoiberg (42-40),J. Butler (9.1)

Now to import player stat data

In [13]:
player = pd.read_excel(r"C:\Users\ptlon\Downloads\playerscv.xlsx")

In [14]:
player.head()

,Player,Place_of_Birth,Race,From,To,Pos,Ht,Wt,Birth Date,College
0,Alaa Abdelnaby,Egypt,Black and White,1991,1995,F-C,6-10,240,"June 24, 1968",Duke University
1,Kareem Abdul-Jabbar*,New York,Black,1970,1989,C,7-2,225,"April 16, 1947","University of California, Los Angeles"
2,Mahmoud Abdul-Rauf,Mississippi,Black,1991,2001,G,6-1,162,"March 9, 1969",Louisiana State University
3,Tariq Abdul-Wahad,France,White,1998,2003,F,6-6,223,"November 3, 1974",San Jose State University
4,Shareef Abdur-Rahim,Georgia,Black,1997,2008,F,6-9,225,"December 11, 1976",University of California

Firs impressions are that there are some null data, some extraneous data, and the dates need to be aligned. I will start by cleaning and prepping the 'Team' Data first, then move to the Player data.
After, I will determine if more data is needed.

In [15]:
team.info

<bound method DataFrame.info of        Season   Lg                      Team     W     L   W/L%  Finish   SRS  \
0     2015-16  NBA             Atlanta Hawks  48.0  34.0  0.585     2.0  3.49
1     2015-16  NBA            Boston Celtics  48.0  34.0  0.585     2.0  2.84
2     2015-16  NBA             Brooklyn Nets  21.0  61.0  0.256     4.0 -7.12
3     2015-16  NBA         Charlotte Hornets  21.0  61.0  0.256     4.0 -7.12
4     2015-16  NBA             Chicago Bulls  42.0  40.0  0.512     4.0 -1.46
...       ...  ...                       ...   ...   ...    ...     ...   ...
1513  1946-47  BAA        Pittsburgh Ironmen  15.0  45.0  0.250     5.0 -5.81
1514  1946-47  BAA  Providence Steam Rollers  28.0  32.0  0.467     4.0 -1.54
1515  1946-47  BAA        St. Louis Bombers*  38.0  23.0  0.623     2.0  2.34
1516  1946-47  BAA           Toronto Huskies  22.0  38.0  0.367     6.0 -4.02
1517  1946-47  BAA      Washington Capitols*  49.0  11.0  0.817     1.0  8.99

      Pace  Rel_Pace   ORtg  Rel_ORtg   DRtg  Rel_DRtg  \
0     97.1       1.3  105.1      -1.3  101.4      -5.0
1     98.5       2.7  106.8       0.4  103.6      -2.8
2     95.2      -0.6  103.2      -3.2  110.9       4.5
3     95.2      -0.6  103.2      -3.2  110.9       4.5
4     95.7      -0.1  105.0      -1.4  106.5       0.1
...    ...       ...    ...       ...    ...       ...
1513   NaN       NaN    NaN       NaN    NaN       NaN
1514   NaN       NaN    NaN       NaN    NaN       NaN
1515   NaN       NaN    NaN       NaN    NaN       NaN
1516   NaN       NaN    NaN       NaN    NaN       NaN
1517   NaN       NaN    NaN       NaN    NaN       NaN

                    Playoffs  \
0        Lost E. Conf. Semis
1     Lost E. Conf. 1st Rnd.
2                        NaN
3                        NaN
4                        NaN
...                      ...
1513                     NaN
1514                     NaN
1515      Lost Quarterfinals
1516                     NaN
1517              Lost Semis

                                                Coaches             Top WS
0                                M. Budenholzer (48-34)  P. Millsap (10.1)
1                                    B. Stevens (48-34)    I. Thomas (9.7)
2                  L. Hollins (10-27), T. Brown (11-34)     B. Lopez (6.2)
3                  L. Hollins (10-27), T. Brown (11-34)     B. Lopez (6.2)
4                                    F. Hoiberg (42-40)    J. Butler (9.1)
...                                                 ...                ...
1513                                   P. Birch (15-45)   C. Gunther (8.4)
1514                                  R. Morris (28-32)   E. Shannon (7.0)
1515                                K. Loeffler (38-23)     J. Logan (9.2)
1516  E. Sadowski (3-9), L. Hayman (0-1), D. Fitzger...     L. Mogus (5.1)
1517                                R. Auerbach (49-11)  B. Feerick (18.6)

[1518 rows x 17 columns]>

In [16]:
team.dtypes

Season       object
Lg           object
Team         object
W           float64
L           float64
W/L%        float64
Finish      float64
SRS         float64
Pace        float64
Rel_Pace    float64
ORtg        float64
Rel_ORtg    float64
DRtg        float64
Rel_DRtg    float64
Playoffs     object
Coaches      object
Top WS       object
dtype: object

Now, I want to restrict to the previous 5 seasons, I will index the Data Frame to remove all the 'older data'

In [17]:
team.head()

,Season,Lg,Team,W,L,W/L%,Finish,SRS,Pace,Rel_Pace,ORtg,Rel_ORtg,DRtg,Rel_DRtg,Playoffs,Coaches,Top WS
0,2015-16,NBA,Atlanta Hawks,48.0,34.0,0.585,2.0,3.49,97.1,1.3,105.1,-1.3,101.4,-5.0,Lost E. Conf. Semis,M. Budenholzer (48-34),P. Millsap (10.1)
1,2015-16,NBA,Boston Celtics,48.0,34.0,0.585,2.0,2.84,98.5,2.7,106.8,0.4,103.6,-2.8,Lost E. Conf. 1st Rnd.,B. Stevens (48-34),I. Thomas (9.7)
2,2015-16,NBA,Brooklyn Nets,21.0,61.0,0.256,4.0,-7.12,95.2,-0.6,103.2,-3.2,110.9,4.5,NaN,"L. Hollins (10-27), T. Brown (11-34)",B. Lopez (6.2)
3,2015-16,NBA,Charlotte Hornets,21.0,61.0,0.256,4.0,-7.12,95.2,-0.6,103.2,-3.2,110.9,4.5,NaN,"L. Hollins (10-27), T. Brown (11-34)",B. Lopez (6.2)
4,2015-16,NBA,Chicago Bulls,42.0,40.0,0.512,4.0,-1.46,95.7,-0.1,105.0,-1.4,106.5,0.1,NaN,F. Hoiberg (42-40),J. Butler (9.1)

In [18]:
team.dtypes

Season       object
Lg           object
Team         object
W           float64
L           float64
W/L%        float64
Finish      float64
SRS         float64
Pace        float64
Rel_Pace    float64
ORtg        float64
Rel_ORtg    float64
DRtg        float64
Rel_DRtg    float64
Playoffs     object
Coaches      object
Top WS       object
dtype: object

I will solve the "Season" problem by splitting the years into two seperate columns, 'Start' and 'End' Then removing the 'Season' and 'End' Columns

In [19]:
team = team[team['Season'].str.split('-').str[0].astype(int) > 2009]
print (team)

      Season   Lg                Team     W     L   W/L%  Finish   SRS  Pace  \
0    2015-16  NBA       Atlanta Hawks  48.0  34.0  0.585     2.0  3.49  97.1
1    2015-16  NBA      Boston Celtics  48.0  34.0  0.585     2.0  2.84  98.5
2    2015-16  NBA       Brooklyn Nets  21.0  61.0  0.256     4.0 -7.12  95.2
3    2015-16  NBA   Charlotte Hornets  21.0  61.0  0.256     4.0 -7.12  95.2
4    2015-16  NBA       Chicago Bulls  42.0  40.0  0.512     4.0 -1.46  95.7
..       ...  ...                 ...   ...   ...    ...     ...   ...   ...
175  2010-11  NBA    Sacramento Kings  24.0  58.0  0.293     5.0 -4.80  95.2
176  2010-11  NBA  San Antonio Spurs*  61.0  21.0  0.744     1.0  5.86  92.3
177  2010-11  NBA     Toronto Raptors  22.0  60.0  0.268     5.0 -6.28  92.9
178  2010-11  NBA           Utah Jazz  39.0  43.0  0.476     4.0 -1.44  91.0
179  2010-11  NBA  Washington Wizards  23.0  59.0  0.280     5.0 -7.30  93.8

     Rel_Pace   ORtg  Rel_ORtg   DRtg  Rel_DRtg                Playoffs  \
0         1.3  105.1      -1.3  101.4      -5.0     Lost E. Conf. Semis
1         2.7  106.8       0.4  103.6      -2.8  Lost E. Conf. 1st Rnd.
2        -0.6  103.2      -3.2  110.9       4.5                     NaN
3        -0.6  103.2      -3.2  110.9       4.5                     NaN
4        -0.1  105.0      -1.4  106.5       0.1                     NaN
..        ...    ...       ...    ...       ...                     ...
175       3.1  103.5      -3.8  109.0       1.7                     NaN
176       0.2  111.8       4.5  105.6      -1.7  Lost W. Conf. 1st Rnd.
177       0.8  106.1      -1.2  112.9       5.6                     NaN
178      -1.1  108.1       0.8  110.1       2.8                     NaN
179       1.7  102.4      -4.9  110.2       2.9                     NaN

                                  Coaches              Top WS
0                  M. Budenholzer (48-34)   P. Millsap (10.1)
1                      B. Stevens (48-34)     I. Thomas (9.7)
2    L. Hollins (10-27), T. Brown (11-34)      B. Lopez (6.2)
3    L. Hollins (10-27), T. Brown (11-34)      B. Lopez (6.2)
4                      F. Hoiberg (42-40)     J. Butler (9.1)
..                                    ...                 ...
175                   P. Westphal (24-58)      B. Udrih (7.2)
176                   G. Popovich (61-21)   M. Ginobili (9.9)
177                     J. Triano (22-60)    A. Johnson (5.6)
178    J. Sloan (31-23), T. Corbin (8-20)  A. Jefferson (7.8)
179                   F. Saunders (23-59)      J. McGee (5.3)

[180 rows x 17 columns]

In [20]:
team

,Season,Lg,Team,W,L,W/L%,Finish,SRS,Pace,Rel_Pace,ORtg,Rel_ORtg,DRtg,Rel_DRtg,Playoffs,Coaches,Top WS
0,2015-16,NBA,Atlanta Hawks,48.0,34.0,0.585,2.0,3.49,97.1,1.3,105.1,-1.3,101.4,-5.0,Lost E. Conf. Semis,M. Budenholzer (48-34),P. Millsap (10.1)
1,2015-16,NBA,Boston Celtics,48.0,34.0,0.585,2.0,2.84,98.5,2.7,106.8,0.4,103.6,-2.8,Lost E. Conf. 1st Rnd.,B. Stevens (48-34),I. Thomas (9.7)
2,2015-16,NBA,Brooklyn Nets,21.0,61.0,0.256,4.0,-7.12,95.2,-0.6,103.2,-3.2,110.9,4.5,NaN,"L. Hollins (10-27), T. Brown (11-34)",B. Lopez (6.2)
3,2015-16,NBA,Charlotte Hornets,21.0,61.0,0.256,4.0,-7.12,95.2,-0.6,103.2,-3.2,110.9,4.5,NaN,"L. Hollins (10-27), T. Brown (11-34)",B. Lopez (6.2)
4,2015-16,NBA,Chicago Bulls,42.0,40.0,0.512,4.0,-1.46,95.7,-0.1,105.0,-1.4,106.5,0.1,NaN,F. Hoiberg (42-40),J. Butler (9.1)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
175,2010-11,NBA,Sacramento Kings,24.0,58.0,0.293,5.0,-4.80,95.2,3.1,103.5,-3.8,109.0,1.7,NaN,P. Westphal (24-58),B. Udrih (7.2)
176,2010-11,NBA,San Antonio Spurs*,61.0,21.0,0.744,1.0,5.86,92.3,0.2,111.8,4.5,105.6,-1.7,Lost W. Conf. 1st Rnd.,G. Popovich (61-21),M. Ginobili (9.9)
177,2010-11,NBA,Toronto Raptors,22.0,60.0,0.268,5.0,-6.28,92.9,0.8,106.1,-1.2,112.9,5.6,NaN,J. Triano (22-60),A. Johnson (5.6)
178,2010-11,NBA,Utah Jazz,39.0,43.0,0.476,4.0,-1.44,91.0,-1.1,108.1,0.8,110.1,2.8,NaN,"J. Sloan (31-23), T. Corbin (8-20)",A. Jefferson (7.8)
179,2010-11,NBA,Washington Wizards,23.0,59.0,0.280,5.0,-7.30,93.8,1.7,102.4,-4.9,110.2,2.9,NaN,F. Saunders (23-59),J. McGee (5.3)

In [21]:
print (team['Season'].str.split('-'))

0      [2015, 16]
1      [2015, 16]
2      [2015, 16]
3      [2015, 16]
4      [2015, 16]
          ...
175    [2010, 11]
176    [2010, 11]
177    [2010, 11]
178    [2010, 11]
179    [2010, 11]
Name: Season, Length: 180, dtype: object

In [22]:
team['Season'] = (team['Season'].str.split('-').str[0])

C:\Users\ptlon\AppData\Local\Temp/ipykernel_18700/2893417403.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  team['Season'] = (team['Season'].str.split('-').str[0])

In [23]:
team.head()

,Season,Lg,Team,W,L,W/L%,Finish,SRS,Pace,Rel_Pace,ORtg,Rel_ORtg,DRtg,Rel_DRtg,Playoffs,Coaches,Top WS
0,2015,NBA,Atlanta Hawks,48.0,34.0,0.585,2.0,3.49,97.1,1.3,105.1,-1.3,101.4,-5.0,Lost E. Conf. Semis,M. Budenholzer (48-34),P. Millsap (10.1)
1,2015,NBA,Boston Celtics,48.0,34.0,0.585,2.0,2.84,98.5,2.7,106.8,0.4,103.6,-2.8,Lost E. Conf. 1st Rnd.,B. Stevens (48-34),I. Thomas (9.7)
2,2015,NBA,Brooklyn Nets,21.0,61.0,0.256,4.0,-7.12,95.2,-0.6,103.2,-3.2,110.9,4.5,NaN,"L. Hollins (10-27), T. Brown (11-34)",B. Lopez (6.2)
3,2015,NBA,Charlotte Hornets,21.0,61.0,0.256,4.0,-7.12,95.2,-0.6,103.2,-3.2,110.9,4.5,NaN,"L. Hollins (10-27), T. Brown (11-34)",B. Lopez (6.2)
4,2015,NBA,Chicago Bulls,42.0,40.0,0.512,4.0,-1.46,95.7,-0.1,105.0,-1.4,106.5,0.1,NaN,F. Hoiberg (42-40),J. Butler (9.1)

Now that the 'Season' Column is fixed, we can make the W/L% a non decimal, and replace the NaN in the Playoff column. We aren't going to remove the NaN's in the playoffs because we want to look at these seasons in their totality.

In [24]:
team['W/L%'] = team['W/L%'] * 100

C:\Users\ptlon\AppData\Local\Temp/ipykernel_18700/4241368484.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  team['W/L%'] = team['W/L%'] * 100

In [25]:
team.head()

,Season,Lg,Team,W,L,W/L%,Finish,SRS,Pace,Rel_Pace,ORtg,Rel_ORtg,DRtg,Rel_DRtg,Playoffs,Coaches,Top WS
0,2015,NBA,Atlanta Hawks,48.0,34.0,58.5,2.0,3.49,97.1,1.3,105.1,-1.3,101.4,-5.0,Lost E. Conf. Semis,M. Budenholzer (48-34),P. Millsap (10.1)
1,2015,NBA,Boston Celtics,48.0,34.0,58.5,2.0,2.84,98.5,2.7,106.8,0.4,103.6,-2.8,Lost E. Conf. 1st Rnd.,B. Stevens (48-34),I. Thomas (9.7)
2,2015,NBA,Brooklyn Nets,21.0,61.0,25.6,4.0,-7.12,95.2,-0.6,103.2,-3.2,110.9,4.5,NaN,"L. Hollins (10-27), T. Brown (11-34)",B. Lopez (6.2)
3,2015,NBA,Charlotte Hornets,21.0,61.0,25.6,4.0,-7.12,95.2,-0.6,103.2,-3.2,110.9,4.5,NaN,"L. Hollins (10-27), T. Brown (11-34)",B. Lopez (6.2)
4,2015,NBA,Chicago Bulls,42.0,40.0,51.2,4.0,-1.46,95.7,-0.1,105.0,-1.4,106.5,0.1,NaN,F. Hoiberg (42-40),J. Butler (9.1)

In [26]:
team.isnull()

,Season,Lg,Team,W,L,W/L%,Finish,SRS,Pace,Rel_Pace,ORtg,Rel_ORtg,DRtg,Rel_DRtg,Playoffs,Coaches,Top WS
0,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
175,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False
176,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
177,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False
178,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False
179,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False

Looks like the only null is in for the non-playoff teams

In [27]:
team['Playoffs'] = team['Playoffs'].fillna(0)

C:\Users\ptlon\AppData\Local\Temp/ipykernel_18700/237365027.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  team['Playoffs'] = team['Playoffs'].fillna(0)

In [28]:
team.head()

,Season,Lg,Team,W,L,W/L%,Finish,SRS,Pace,Rel_Pace,ORtg,Rel_ORtg,DRtg,Rel_DRtg,Playoffs,Coaches,Top WS
0,2015,NBA,Atlanta Hawks,48.0,34.0,58.5,2.0,3.49,97.1,1.3,105.1,-1.3,101.4,-5.0,Lost E. Conf. Semis,M. Budenholzer (48-34),P. Millsap (10.1)
1,2015,NBA,Boston Celtics,48.0,34.0,58.5,2.0,2.84,98.5,2.7,106.8,0.4,103.6,-2.8,Lost E. Conf. 1st Rnd.,B. Stevens (48-34),I. Thomas (9.7)
2,2015,NBA,Brooklyn Nets,21.0,61.0,25.6,4.0,-7.12,95.2,-0.6,103.2,-3.2,110.9,4.5,0,"L. Hollins (10-27), T. Brown (11-34)",B. Lopez (6.2)
3,2015,NBA,Charlotte Hornets,21.0,61.0,25.6,4.0,-7.12,95.2,-0.6,103.2,-3.2,110.9,4.5,0,"L. Hollins (10-27), T. Brown (11-34)",B. Lopez (6.2)
4,2015,NBA,Chicago Bulls,42.0,40.0,51.2,4.0,-1.46,95.7,-0.1,105.0,-1.4,106.5,0.1,0,F. Hoiberg (42-40),J. Butler (9.1)

In [29]:
team['Playoffs'].value_counts()

0                         85
Lost W. Conf. 1st Rnd.    24
Lost E. Conf. 1st Rnd.    23
Lost E. Conf. Semis       12
Lost W. Conf. Semis       12
Won Finals                 6
Lost Finals                6
Lost W. Conf. Finals       6
Lost E. Conf. Finals       6
Name: Playoffs, dtype: int64

In [30]:
team

,Season,Lg,Team,W,L,W/L%,Finish,SRS,Pace,Rel_Pace,ORtg,Rel_ORtg,DRtg,Rel_DRtg,Playoffs,Coaches,Top WS
0,2015,NBA,Atlanta Hawks,48.0,34.0,58.5,2.0,3.49,97.1,1.3,105.1,-1.3,101.4,-5.0,Lost E. Conf. Semis,M. Budenholzer (48-34),P. Millsap (10.1)
1,2015,NBA,Boston Celtics,48.0,34.0,58.5,2.0,2.84,98.5,2.7,106.8,0.4,103.6,-2.8,Lost E. Conf. 1st Rnd.,B. Stevens (48-34),I. Thomas (9.7)
2,2015,NBA,Brooklyn Nets,21.0,61.0,25.6,4.0,-7.12,95.2,-0.6,103.2,-3.2,110.9,4.5,0,"L. Hollins (10-27), T. Brown (11-34)",B. Lopez (6.2)
3,2015,NBA,Charlotte Hornets,21.0,61.0,25.6,4.0,-7.12,95.2,-0.6,103.2,-3.2,110.9,4.5,0,"L. Hollins (10-27), T. Brown (11-34)",B. Lopez (6.2)
4,2015,NBA,Chicago Bulls,42.0,40.0,51.2,4.0,-1.46,95.7,-0.1,105.0,-1.4,106.5,0.1,0,F. Hoiberg (42-40),J. Butler (9.1)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
175,2010,NBA,Sacramento Kings,24.0,58.0,29.3,5.0,-4.80,95.2,3.1,103.5,-3.8,109.0,1.7,0,P. Westphal (24-58),B. Udrih (7.2)
176,2010,NBA,San Antonio Spurs*,61.0,21.0,74.4,1.0,5.86,92.3,0.2,111.8,4.5,105.6,-1.7,Lost W. Conf. 1st Rnd.,G. Popovich (61-21),M. Ginobili (9.9)
177,2010,NBA,Toronto Raptors,22.0,60.0,26.8,5.0,-6.28,92.9,0.8,106.1,-1.2,112.9,5.6,0,J. Triano (22-60),A. Johnson (5.6)
178,2010,NBA,Utah Jazz,39.0,43.0,47.6,4.0,-1.44,91.0,-1.1,108.1,0.8,110.1,2.8,0,"J. Sloan (31-23), T. Corbin (8-20)",A. Jefferson (7.8)
179,2010,NBA,Washington Wizards,23.0,59.0,28.0,5.0,-7.30,93.8,1.7,102.4,-4.9,110.2,2.9,0,F. Saunders (23-59),J. McGee (5.3)

In [31]:
team['Playoffs'] = team['Playoffs'].replace('Lost E. Conf. Semis', 1)

C:\Users\ptlon\AppData\Local\Temp/ipykernel_18700/3140395072.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  team['Playoffs'] = team['Playoffs'].replace('Lost E. Conf. Semis', 1)

In [32]:
team['Playoffs'] = team['Playoffs'].replace('Lost E. Conf. 1st Rnd.', 1)

C:\Users\ptlon\AppData\Local\Temp/ipykernel_18700/2145141906.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  team['Playoffs'] = team['Playoffs'].replace('Lost E. Conf. 1st Rnd.', 1)

In [33]:
team['Playoffs'] = team['Playoffs'].replace('Lost E. Conf. 1st Rnd.', 1)

C:\Users\ptlon\AppData\Local\Temp/ipykernel_18700/2145141906.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  team['Playoffs'] = team['Playoffs'].replace('Lost E. Conf. 1st Rnd.', 1)

In [34]:
team['Playoffs'] = team['Playoffs'].replace('Lost W. Conf. Semis', 1)

C:\Users\ptlon\AppData\Local\Temp/ipykernel_18700/573007379.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  team['Playoffs'] = team['Playoffs'].replace('Lost W. Conf. Semis', 1)

In [35]:
team['Playoffs'] = team['Playoffs'].replace('Won Finals', 1)

C:\Users\ptlon\AppData\Local\Temp/ipykernel_18700/1799018594.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  team['Playoffs'] = team['Playoffs'].replace('Won Finals', 1)

In [36]:
team['Playoffs'] = team['Playoffs'].replace('Lost Finals', 1)

C:\Users\ptlon\AppData\Local\Temp/ipykernel_18700/3763418030.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  team['Playoffs'] = team['Playoffs'].replace('Lost Finals', 1)

In [37]:
team['Playoffs'] = team['Playoffs'].replace('Lost W. Conf. Finals', 1)

C:\Users\ptlon\AppData\Local\Temp/ipykernel_18700/2582253696.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  team['Playoffs'] = team['Playoffs'].replace('Lost W. Conf. Finals', 1)

In [38]:
team['Playoffs'] = team['Playoffs'].replace('Lost E. Conf. Finals', 1)

C:\Users\ptlon\AppData\Local\Temp/ipykernel_18700/3821938759.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  team['Playoffs'] = team['Playoffs'].replace('Lost E. Conf. Finals', 1)

In [39]:
team['Playoffs'] = team['Playoffs'].replace('Lost W. Conf. 1st Rnd.', 1)

C:\Users\ptlon\AppData\Local\Temp/ipykernel_18700/1686886268.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  team['Playoffs'] = team['Playoffs'].replace('Lost W. Conf. 1st Rnd.', 1)

Now, if a team has made the playoffs, its a 1, if they didn't its a 0.

We can drop the LG column, as its all NBA teams.

In [40]:
del team['Lg']

In [41]:
team.head()

,Season,Team,W,L,W/L%,Finish,SRS,Pace,Rel_Pace,ORtg,Rel_ORtg,DRtg,Rel_DRtg,Playoffs,Coaches,Top WS
0,2015,Atlanta Hawks,48.0,34.0,58.5,2.0,3.49,97.1,1.3,105.1,-1.3,101.4,-5.0,1,M. Budenholzer (48-34),P. Millsap (10.1)
1,2015,Boston Celtics,48.0,34.0,58.5,2.0,2.84,98.5,2.7,106.8,0.4,103.6,-2.8,1,B. Stevens (48-34),I. Thomas (9.7)
2,2015,Brooklyn Nets,21.0,61.0,25.6,4.0,-7.12,95.2,-0.6,103.2,-3.2,110.9,4.5,0,"L. Hollins (10-27), T. Brown (11-34)",B. Lopez (6.2)
3,2015,Charlotte Hornets,21.0,61.0,25.6,4.0,-7.12,95.2,-0.6,103.2,-3.2,110.9,4.5,0,"L. Hollins (10-27), T. Brown (11-34)",B. Lopez (6.2)
4,2015,Chicago Bulls,42.0,40.0,51.2,4.0,-1.46,95.7,-0.1,105.0,-1.4,106.5,0.1,0,F. Hoiberg (42-40),J. Butler (9.1)

# Team DF is looking good! Now lets move on to the player DF

In [42]:
player = pd.read_excel(r"C:\Users\ptlon\Downloads\playersstat.xlsx")

In [43]:
player.head()

,Player,Season,Age,Tm,Lg,G,GS,MP,PER,3PAr,...,ORtg,DRtg,OWS,DWS,WS,WS/48,OBPM,DBPM,BPM,VORP
0,Thanasis Antetokounmpo,2015-16,23.0,NYK,NBA,2,0.0,6.0,32.9,0.250,...,140.0,110.0,0.0,0.0,0.0,0.291,6.3,-10.5,-4.1,0.0
1,Rakeem Christmas,2015-16,24.0,IND,NBA,1,0.0,6.0,32.0,0.000,...,204.0,112.0,0.0,0.0,0.0,0.343,9.7,-6.6,3.2,0.0
2,Stephen Curry,2015-16,27.0,GSW,NBA,79,79.0,2700.0,31.5,0.554,...,125.0,103.0,13.8,4.1,17.9,0.318,12.4,0.1,12.5,9.8
3,Kevin Durant,2015-16,27.0,OKC,NBA,72,72.0,2578.0,28.2,0.348,...,122.0,104.0,11.0,3.5,14.5,0.270,7.0,0.9,7.9,6.4
4,Boban Marjanovic,2015-16,27.0,SAS,NBA,54,4.0,508.0,27.7,0.000,...,130.0,96.0,2.3,1.2,3.4,0.325,2.7,0.9,3.6,0.7

In [44]:
print (player['Season'].str.split('-'))

0        [2015, 16]
1        [2015, 16]
2        [2015, 16]
3        [2015, 16]
4        [2015, 16]
            ...
21471    [1946, 47]
21472    [1946, 47]
21473    [1946, 47]
21474    [1946, 47]
21475    [1946, 47]
Name: Season, Length: 21476, dtype: object

In [45]:
player['Season'] = (player['Season'].str.split('-').str[0])

In [46]:
player.head()

,Player,Season,Age,Tm,Lg,G,GS,MP,PER,3PAr,...,ORtg,DRtg,OWS,DWS,WS,WS/48,OBPM,DBPM,BPM,VORP
0,Thanasis Antetokounmpo,2015,23.0,NYK,NBA,2,0.0,6.0,32.9,0.250,...,140.0,110.0,0.0,0.0,0.0,0.291,6.3,-10.5,-4.1,0.0
1,Rakeem Christmas,2015,24.0,IND,NBA,1,0.0,6.0,32.0,0.000,...,204.0,112.0,0.0,0.0,0.0,0.343,9.7,-6.6,3.2,0.0
2,Stephen Curry,2015,27.0,GSW,NBA,79,79.0,2700.0,31.5,0.554,...,125.0,103.0,13.8,4.1,17.9,0.318,12.4,0.1,12.5,9.8
3,Kevin Durant,2015,27.0,OKC,NBA,72,72.0,2578.0,28.2,0.348,...,122.0,104.0,11.0,3.5,14.5,0.270,7.0,0.9,7.9,6.4
4,Boban Marjanovic,2015,27.0,SAS,NBA,54,4.0,508.0,27.7,0.000,...,130.0,96.0,2.3,1.2,3.4,0.325,2.7,0.9,3.6,0.7

In [47]:
player = player[player['Season'].str.split('-').str[0].astype(int) > 2009]
print (player)

                      Player Season   Age   Tm   Lg   G    GS      MP   PER  \
0     Thanasis Antetokounmpo   2015  23.0  NYK  NBA   2   0.0     6.0  32.9
1           Rakeem Christmas   2015  24.0  IND  NBA   1   0.0     6.0  32.0
2              Stephen Curry   2015  27.0  GSW  NBA  79  79.0  2700.0  31.5
3               Kevin Durant   2015  27.0  OKC  NBA  72  72.0  2578.0  28.2
4           Boban Marjanovic   2015  27.0  SAS  NBA  54   4.0   508.0  27.7
...                      ...    ...   ...  ...  ...  ..   ...     ...   ...
2844           Dorell Wright   2010  25.0  GSW  NBA  82  82.0  3147.0  15.0
2845           Julian Wright   2010  23.0  TOR  NBA  52   6.0   766.0  12.1
2846              Nick Young   2010  25.0  WAS  NBA  64  40.0  2034.0  14.5
2847               Sam Young   2010  25.0  MEM  NBA  78  46.0  1577.0  12.5
2848          Thaddeus Young   2010  22.0  PHI  NBA  82   1.0  2135.0  18.4

       3PAr  ...   ORtg   DRtg   OWS  DWS    WS  WS/48  OBPM  DBPM   BPM  VORP
0     0.250  ...  140.0  110.0   0.0  0.0   0.0  0.291   6.3 -10.5  -4.1   0.0
1     0.000  ...  204.0  112.0   0.0  0.0   0.0  0.343   9.7  -6.6   3.2   0.0
2     0.554  ...  125.0  103.0  13.8  4.1  17.9  0.318  12.4   0.1  12.5   9.8
3     0.348  ...  122.0  104.0  11.0  3.5  14.5  0.270   7.0   0.9   7.9   6.4
4     0.000  ...  130.0   96.0   2.3  1.2   3.4  0.325   2.7   0.9   3.6   0.7
...     ...  ...    ...    ...   ...  ...   ...    ...   ...   ...   ...   ...
2844  0.450  ...  110.0  111.0   3.9  1.8   5.8  0.088   1.5  -0.4   1.1   2.5
2845  0.063  ...  101.0  111.0   0.2  0.4   0.6  0.038  -1.6   1.2  -0.4   0.3
2846  0.290  ...  107.0  114.0   2.3  0.4   2.8  0.065   0.5  -3.5  -3.0  -0.5
2847  0.101  ...  106.0  106.0   1.1  1.8   2.9  0.088  -1.6   0.3  -1.3   0.3
2848  0.026  ...  110.0  104.0   3.2  3.0   6.2  0.139   0.3   0.0   0.3   1.2

[2849 rows x 29 columns]

Lots of great data here, we can see the Season is like the Team Season column. Lets fix that, then, we can merge the data sets to have our go to dataframe.

In [48]:
player.isnull()

,Player,Season,Age,Tm,Lg,G,GS,MP,PER,3PAr,...,ORtg,DRtg,OWS,DWS,WS,WS/48,OBPM,DBPM,BPM,VORP
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2844,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2845,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2846,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2847,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2848,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

We will save the two dataframes, team, and Player, as Excel files.

In [49]:
team.to_excel('Team.xlsx')

In [50]:
player.to_excel('player.xlsx')

In [52]:
nba = pd.merge(team, player, on = 'Season')

In [53]:
nba.head()

,Season,Team,W,L,W/L%,Finish,SRS,Pace,Rel_Pace,ORtg_x,...,ORtg_y,DRtg_y,OWS,DWS,WS,WS/48,OBPM,DBPM,BPM,VORP
0,2015,Atlanta Hawks,48.0,34.0,58.5,2.0,3.49,97.1,1.3,105.1,...,140.0,110.0,0.0,0.0,0.0,0.291,6.3,-10.5,-4.1,0.0
1,2015,Atlanta Hawks,48.0,34.0,58.5,2.0,3.49,97.1,1.3,105.1,...,204.0,112.0,0.0,0.0,0.0,0.343,9.7,-6.6,3.2,0.0
2,2015,Atlanta Hawks,48.0,34.0,58.5,2.0,3.49,97.1,1.3,105.1,...,125.0,103.0,13.8,4.1,17.9,0.318,12.4,0.1,12.5,9.8
3,2015,Atlanta Hawks,48.0,34.0,58.5,2.0,3.49,97.1,1.3,105.1,...,122.0,104.0,11.0,3.5,14.5,0.270,7.0,0.9,7.9,6.4
4,2015,Atlanta Hawks,48.0,34.0,58.5,2.0,3.49,97.1,1.3,105.1,...,130.0,96.0,2.3,1.2,3.4,0.325,2.7,0.9,3.6,0.7

In [54]:
nba.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 85470 entries, 0 to 85469
Data columns (total 44 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Season    85470 non-null  object
 1   Team      85470 non-null  object
 2   W         85470 non-null  float64
 3   L         85470 non-null  float64
 4   W/L%      85470 non-null  float64
 5   Finish    85470 non-null  float64
 6   SRS       85470 non-null  float64
 7   Pace      85470 non-null  float64
 8   Rel_Pace  85470 non-null  float64
 9   ORtg_x    85470 non-null  float64
 10  Rel_ORtg  85470 non-null  float64
 11  DRtg_x    85470 non-null  float64
 12  Rel_DRtg  85470 non-null  float64
 13  Playoffs  85470 non-null  int64
 14  Coaches   85470 non-null  object
 15  Top WS    85470 non-null  object
 16  Player    85470 non-null  object
 17  Age       85470 non-null  float64
 18  Tm        85470 non-null  object
 19  Lg        85470 non-null  object
 20  G         85470 non-null  int64
 21  GS        85470 non-null  float64
 22  MP        85470 non-null  float64
 23  PER       85440 non-null  float64
 24  3PAr      85170 non-null  float64
 25  FTr       85170 non-null  float64
 26  ORB%      85440 non-null  float64
 27  DRB%      85440 non-null  float64
 28  TRB%      85440 non-null  float64
 29  AST%      85440 non-null  float64
 30  STL%      85440 non-null  float64
 31  BLK%      85440 non-null  float64
 32  TOV%      85230 non-null  float64
 33  USG%      85440 non-null  float64
 34  ORtg_y    85290 non-null  float64
 35  DRtg_y    85440 non-null  float64
 36  OWS       85470 non-null  float64
 37  DWS       85470 non-null  float64
 38  WS        85470 non-null  float64
 39  WS/48     85440 non-null  float64
 40  OBPM      85470 non-null  float64
 41  DBPM      85470 non-null  float64
 42  BPM       85470 non-null  float64
 43  VORP      85470 non-null  float64
dtypes: float64(35), int64(2), object(7)
memory usage: 29.3+ MB

In [55]:
nba.to_excel('nba_1.xlsx')

In [56]:
len(nba)

85470

In [57]:
nba.count()

Season      85470
Team        85470
W           85470
L           85470
W/L%        85470
Finish      85470
SRS         85470
Pace        85470
Rel_Pace    85470
ORtg_x      85470
Rel_ORtg    85470
DRtg_x      85470
Rel_DRtg    85470
Playoffs    85470
Coaches     85470
Top WS      85470
Player      85470
Age         85470
Tm          85470
Lg          85470
G           85470
GS          85470
MP          85470
PER         85440
3PAr        85170
FTr         85170
ORB%        85440
DRB%        85440
TRB%        85440
AST%        85440
STL%        85440
BLK%        85440
TOV%        85230
USG%        85440
ORtg_y      85290
DRtg_y      85440
OWS         85470
DWS         85470
WS          85470
WS/48       85440
OBPM        85470
DBPM        85470
BPM         85470
VORP        85470
dtype: int64

In [58]:
nba.shape[0]

85470

In [59]:
nba.value_counts()

Season  Team                W     L     W/L%  Finish  SRS    Pace  Rel_Pace  ORtg_x  Rel_ORtg  DRtg_x  Rel_DRtg  Playoffs  Coaches             Top WS             Player                 Age   Tm   Lg   G   GS    MP      PER   3PAr   FTr    ORB%  DRB%  TRB%  AST%  STL%  BLK%  TOV%  USG%  ORtg_y  DRtg_y  OWS   DWS  WS   WS/48  OBPM  DBPM  BPM   VORP
2010    Atlanta Hawks*      44.0  38.0  53.7  3.0     -1.10  89.3  -2.8      106.1   -1.2      107.0   -0.3      1         L. Drew (44-38)     A. Horford (10.1)  A.J. Price             24.0  IND  NBA  50  0.0   795.0   10.7  0.466  0.253  2.3   7.8   5.0   22.7  1.8   0.1   13.0  22.7  95.0    109.0   -0.4  0.7  0.3  0.020  -1.1  -2.3  -3.4  -0.3    1
2014    Boston Celtics*     40.0  42.0  48.8  2.0     -0.40  95.8   1.9      104.7   -0.9      104.5   -1.1      1         B. Stevens (40-42)  T. Zeller (6.5)    Chris Douglas-Roberts  28.0  LAC  NBA  12  0.0   103.0   3.3   0.333  0.381  1.1   11.8  6.6   5.0   0.5   0.0   0.0   10.7  96.0    110.0    0.0  0.1  0.0  0.020  -4.4  -1.6  -6.1  -0.1    1
                                                                                                                                                                  Chris Bosh             30.0  MIA  NBA  44  44.0  1556.0  19.8  0.226  0.311  3.6   20.0  12.0  12.0  1.4   1.4   10.1  28.4  106.0   106.0    2.1  1.5  3.6  0.111   1.0  -1.0  -0.1   0.8    1
                                                                                                                                                                  Chris Andersen         36.0  MIA  NBA  60  20.0  1132.0  16.1  0.063  0.551  8.2   23.2  15.9  6.1   1.2   4.6   13.5  12.3  121.0   103.0    2.1  1.5  3.6  0.151  -1.2   2.3   1.0   0.9    1
                                                                                                                                                                  Chase Budinger         26.0  MIN  NBA  67  4.0   1286.0  12.2  0.367  0.208  2.8   15.1  8.8   8.0   1.7   0.6   10.3  16.3  106.0   113.0    1.1  0.2  1.3  0.049  -0.9  -1.9  -2.8  -0.3    1
                                                                                                                                                                                                                                                                                                                                                               ..
2012    Boston Celtics*     41.0  40.0  50.6  3.0     -0.62  91.7  -0.3      103.1   -2.8      103.3   -2.6      1         D. Rivers (41-40)   P. Pierce (7.2)    DeMarre Carroll        26.0  UTA  NBA  66  12.0  1111.0  15.5  0.216  0.302  9.1   10.8  9.9   8.7   2.8   1.7   8.5   16.4  115.0   106.0    2.0  1.1  3.1  0.134   1.4   0.7   2.0   1.1    1
                                                                                                                                                                  DeMarcus Cousins       22.0  SAC  NBA  75  74.0  2289.0  20.2  0.021  0.408  10.9  27.0  18.7  15.3  2.4   1.9   15.5  28.1  102.0   106.0    2.0  2.3  4.4  0.092   0.0   1.0   1.0   1.7    1
                                                                                                                                                                  DeMar DeRozan          23.0  TOR  NBA  82  82.0  3013.0  14.7  0.097  0.347  1.9   10.9  6.3   12.0  1.3   0.6   9.6   24.2  105.0   110.0    3.1  1.6  4.7  0.075  -0.5  -1.4  -1.9   0.1    1
                                                                                                                                                                  DeJuan Blair           23.0  SAS  NBA  61  16.0  851.0   14.6  0.004  0.258  9.5   21.1  15.6  8.3   2.2   0.9   14.0  19.0  104.0   99.0     0.7  1.5  2.2  0.126  -2.0   1.3  -0.8   0.3    1
2015    Washington Wizards  41.0  41.0  50.0  4.0     -0.50  98.5   2.7      105.3   -1.1      105.8   -0.6      0         R. Wittman (41-41)  M. Gortat (7.3)    Zaza Pachulia          31.0  DAL  NBA  76  69.0  2004.0  16.2  0.006  0.587  13.7  25.7  19.7  9.7   1.6   0.9   16.8  16.2  113.0   104.0    3.4  2.7  6.0  0.145  -0.8   2.2   1.4   1.7    1
Length: 85170, dtype: int64

In [60]:
nba.columns

Index(['Season', 'Team', 'W', 'L', 'W/L%', 'Finish', 'SRS', 'Pace', 'Rel_Pace',
       'ORtg_x', 'Rel_ORtg', 'DRtg_x', 'Rel_DRtg', 'Playoffs', 'Coaches',
       'Top WS', 'Player', 'Age', 'Tm', 'Lg', 'G', 'GS', 'MP', 'PER', '3PAr',
       'FTr', 'ORB%', 'DRB%', 'TRB%', 'AST%', 'STL%', 'BLK%', 'TOV%', 'USG%',
       'ORtg_y', 'DRtg_y', 'OWS', 'DWS', 'WS', 'WS/48', 'OBPM', 'DBPM', 'BPM',
       'VORP'],
      dtype='object')

# Summary:

The Team and Player dataframes had great data integrity, as it is a very public forum, and, they are very well used pieces of data. The goal of this data wrangling was to understand the data frames, make sure that there was a ceratin column we could merge them on as well.

The NBA dataset now has 43 columns, there are 85470 rows in this data set. Meaning, 3675210 total entries.
There are a lot of acronyms used in this data set. like SRS and ORtg_x. I will create a dictionary here to refer to, and will copy this for the EDA, Pre-Process, and Modeling portions of this project.

The Sport Reference data has 9840 entries, with 40 columns.

SRS : Team SRS (simple rating system) is a team evaluation rating that takes into account average point differential and strength of schedule.

'Pace' : the number of possessions a team uses per game

'Rel_Pace' : Real Pace

'ORtg_x' : Offensive Rating 

'Rel_ORtg' : Real Offensive Rating 

'DRtg_x' : Defensive Rating

'Rel_DRtg' : Real Defensive Rating

'Top WS' : Win Share

'Tm' : Team

'G' : Games played

'GS' : Game started

'MP' : Minutes Played

'PER' : The player efficiency rating (PER) is a rating of a player's per-minute productivity.

'3PAr' : 3-Point Field Goal Attempts

'FTr' : What is ftr NBA?
Free Throw Rate or FTR is the ratio of Free Throw Attempts to Field Goal Attempts

'ORB%' : Offensive Rebounds

'DRB%' : Defensive Rebound Percentage

'TRB%' : Total Rebounds

'AST%' : Assist percentage

'STL%' : Steals

'BLK%' : Blocks

'TOV%' : Turnovers

'USG%' Usage Rate or Usg is an estimate of the percentage of a team's offensive possessions used by an individual player during his time on the floor.

'OWS': Offensive Win Shares is a player statistic which attempts to divvy up credit for team success to the individuals on the team.

'DWS' : Defensive Win shares

'WS' : winshares

'WS/48' : Wineshares per 48 minutes

'OBPM' : Offensive Box Plus/Minus

'DBPM' : Defensive Box Plus/Minues

'BPM' : Box plus-minus is based on box score for evaluating basketball players' quality and contribution to the team from play-by-play regression

'VORP' : Value Over Replacement Player