# Pre Processing and Training


Data preprocessing is an integral step in Machine Learning as the quality of data and the useful information that can be derived from it directly affects the ability of our model to learn; therefore, it is extremely important that we preprocess our data before feeding it into our model.

In this portion of the project I will be training and modeling the data to be able to make it usable for modeling.
Process:

-Creat dummy features

-Scale standardization

-Split data into training and testing subsets

In [9]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline
from sklearn.model_selection import train_test_split
import scipy
import pandas.util.testing as tm

In [10]:
nba = pd.read_excel(r'/Users/patricklong/Downloads/nba_1.xlsx')

In [11]:
nba

,Unnamed: 0,Season,Team,W,L,W/L%,Finish,SRS,Pace,Rel_Pace,...,ORtg_y,DRtg_y,OWS,DWS,WS,WS/48,OBPM,DBPM,BPM,VORP
0,0,2015,Atlanta Hawks,48,34,58.5,2,3.49,97.1,1.3,...,140.0,110.0,0.0,0.0,0.0,0.291,6.3,-10.5,-4.1,0.0
1,1,2015,Atlanta Hawks,48,34,58.5,2,3.49,97.1,1.3,...,204.0,112.0,0.0,0.0,0.0,0.343,9.7,-6.6,3.2,0.0
2,2,2015,Atlanta Hawks,48,34,58.5,2,3.49,97.1,1.3,...,125.0,103.0,13.8,4.1,17.9,0.318,12.4,0.1,12.5,9.8
3,3,2015,Atlanta Hawks,48,34,58.5,2,3.49,97.1,1.3,...,122.0,104.0,11.0,3.5,14.5,0.270,7.0,0.9,7.9,6.4
4,4,2015,Atlanta Hawks,48,34,58.5,2,3.49,97.1,1.3,...,130.0,96.0,2.3,1.2,3.4,0.325,2.7,0.9,3.6,0.7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
85465,85465,2010,Washington Wizards,23,59,28.0,5,-7.30,93.8,1.7,...,110.0,111.0,3.9,1.8,5.8,0.088,1.5,-0.4,1.1,2.5
85466,85466,2010,Washington Wizards,23,59,28.0,5,-7.30,93.8,1.7,...,101.0,111.0,0.2,0.4,0.6,0.038,-1.6,1.2,-0.4,0.3
85467,85467,2010,Washington Wizards,23,59,28.0,5,-7.30,93.8,1.7,...,107.0,114.0,2.3,0.4,2.8,0.065,0.5,-3.5,-3.0,-0.5
85468,85468,2010,Washington Wizards,23,59,28.0,5,-7.30,93.8,1.7,...,106.0,106.0,1.1,1.8,2.9,0.088,-1.6,0.3,-1.3,0.3
85469,85469,2010,Washington Wizards,23,59,28.0,5,-7.30,93.8,1.7,...,110.0,104.0,3.2,3.0,6.2,0.139,0.3,0.0,0.3,1.2

In [12]:
sns.set_style(style = 'whitegrid')

In [13]:
nrow, ncol = nba.shape
nrow, ncol

(85470, 45)

In [14]:
nba.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 85470 entries, 0 to 85469
Data columns (total 45 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  85470 non-null  int64
 1   Season      85470 non-null  int64
 2   Team        85470 non-null  object
 3   W           85470 non-null  int64
 4   L           85470 non-null  int64
 5   W/L%        85470 non-null  float64
 6   Finish      85470 non-null  int64
 7   SRS         85470 non-null  float64
 8   Pace        85470 non-null  float64
 9   Rel_Pace    85470 non-null  float64
 10  ORtg_x      85470 non-null  float64
 11  Rel_ORtg    85470 non-null  float64
 12  DRtg_x      85470 non-null  float64
 13  Rel_DRtg    85470 non-null  float64
 14  Playoffs    85470 non-null  int64
 15  Coaches     85470 non-null  object
 16  Top WS      85470 non-null  object
 17  Player      85470 non-null  object
 18  Age         85470 non-null  int64
 19  Tm          85470 non-null  object
 20  Lg          85470 non-null  object
 21  G           85470 non-null  int64
 22  GS          85470 non-null  int64
 23  MP          85470 non-null  int64
 24  PER         85440 non-null  float64
 25  3PAr        85170 non-null  float64
 26  FTr         85170 non-null  float64
 27  ORB%        85440 non-null  float64
 28  DRB%        85440 non-null  float64
 29  TRB%        85440 non-null  float64
 30  AST%        85440 non-null  float64
 31  STL%        85440 non-null  float64
 32  BLK%        85440 non-null  float64
 33  TOV%        85230 non-null  float64
 34  USG%        85440 non-null  float64
 35  ORtg_y      85290 non-null  float64
 36  DRtg_y      85440 non-null  float64
 37  OWS         85470 non-null  float64
 38  DWS         85470 non-null  float64
 39  WS          85470 non-null  float64
 40  WS/48       85440 non-null  float64
 41  OBPM        85470 non-null  float64
 42  DBPM        85470 non-null  float64
 43  BPM         85470 non-null  float64
 44  VORP        85470 non-null  float64
dtypes: float64(29), int64(10), object(6)
memory usage: 29.3+ MB

In [15]:
df = nba[['W/L%', 'Pace']]

In [16]:
df.head()

   W/L%  Pace
0  58.5  97.1
1  58.5  97.1
2  58.5  97.1
3  58.5  97.1
4  58.5  97.1

Split the dataset into Independent(X) and Dependent(y) Variables

In [17]:
x = df.iloc[:, 0:1].values
y = df.iloc[:, -1].values

In [18]:
x

array([[58.5],
       [58.5],
       [58.5],
       ...,
       [28. ],
       [28. ],
       [28. ]])

In [19]:
y

array([97.1, 97.1, 97.1, ..., 93.8, 93.8, 93.8])

In [20]:
Divide the complete dataset into training and testing data

SyntaxError: invalid syntax (4191769811.py, line 1)

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(x, y, test_size = 0.2, random_state = 0)

In [ ]:
Implement Classifier based on Simple Linear Regression

In [ ]:
from sklearn.linear_model import LinearRegression
model = LinearRegression()
model.fit(X_train, y_train)

In [ ]:
predictions = model.predict(X_test)
predictions

In [ ]:
sns.distplot(predictions-y_test)

In [ ]:
plt.scatter(X_train, y_train, color = 'red')
plt.plot(X_train, model.predict(X_train), color = 'blue')
plt.title('W/L% vs Pace (Training set)')
plt.xlabel('W/L%')
plt.ylabel('Pace')
plt.show()

In [ ]:
plt.scatter(X_test, y_test, color = 'red')
plt.plot(X_test, model.predict(X_test), color = 'blue')
plt.title('W/L% vs Pace (Test set)')
plt.xlabel('W/L%')
plt.ylabel('Pace')
plt.show()

In [ ]:
Standardize the magnitude of numeric features using a scaler

In [ ]:
from sklearn.preprocessing import StandardScaler
sc_X = StandardScaler()
sc_Y = StandardScaler()
Xs = sc_X.fit_transform(X_test)
Ys = np.squeeze(sc_Y.fit_transform(y_test.reshape(-1, 1)))

In [ ]:
models = LinearRegression()
models.fit(Xs, Ys)

In [ ]:
predictionss = models.predict(Xs)
predictionss

In [ ]:
sns.distplot(predictionss-Ys)

In [ ]:
df = nba[['Playoffs', '3PAr']]

In [ ]:
plt.scatter(Xs, Ys, color = 'red')
plt.plot(Xs, model.predict(Xs), color = 'blue')
plt.title('Playoffs vs 3PAr (Training set)')
plt.xlabel('Playoffs')
plt.ylabel('3PAr')
plt.show()

In [ ]:
Convert Categorical data into dummy or indicator variables

In [ ]:
VORP_dummies = pd.get_dummies(nba.VORP, prefix='VORP') 
nba = pd.concat([nba, VORP_dummies], axis = 1)

In [ ]:
Player_dummies = pd.get_dummies(nba.Player, prefix='Player') 
nba = pd.concat([nba, Player_dummies], axis = 1)
nba.head()

In [ ]:
dataset_new = nba.select_dtypes(include=['int', 'float'])
dataset_new.head()

In [ ]:
dataset_new.to_csv("salary_dummies.csv")

In [ ]:
dataset_new

# Summary

Now that the data is pre-processed and trained we are ready to start the modeling process! 
Data preprocessing is the process of transforming raw data into an understandable format. It is also an important step in data mining as we cannot work with raw data.